<app-header [titulo]="titulo"></app-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      Agregar tarea:
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre item</ion-label>
      <ion-input [(ngModel)]="nombreItem" type="text" (keyup.enter)="agregarItem()"></ion-input>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="lista.length > 0" class="animated fadeInDown">
    <ion-list-header>
      Tareas por hacer:
    </ion-list-header>

    <ion-item-sliding *ngFor="let item of lista">
      <ion-item class="animated fadeInDown" (click)="actualizaItem(item)">
        <ion-icon *ngIf="item.completado" name="checkbox-outline"></ion-icon>
        <ion-icon *ngIf="!item.completado" name="square-outline"></ion-icon>
        <ion-label class="newItem">{{item.desc}}</ion-label>
      </ion-item>

      <ion-item-options slot="end">
        <ion-item-option color="danger">
          13
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
