<app-header [titulo]="titulo"></app-header>

<ion-content padding>

  <ion-list>
    <ion-list-header>
      Agregar tarea:
    </ion-list-header>
    <ion-item>
      <ion-label position="floating">Nombre item</ion-label>
      <ion-input [(ngModel)]="nombreItem" type="text" (keyup.enter)="agregarItem()"></ion-input>
    </ion-item>

  </ion-list>


  <ion-list *ngIf="lista.items.length != 0" class="animated fadeInDown">
    <ion-list-header>
      Tareas por hacer:
    </ion-list-header>

    <ion-item class="animated fadeInDown" *ngFor="let item of lista.items">
      <ion-icon slot="start" name="create" (click)="editarLista(item)"></ion-icon>
      <ion-icon *ngIf="item.completado" name="checkbox-outline"></ion-icon>
      <ion-icon *ngIf="!item.completado" name="square-outline"></ion-icon>
      <ion-label class="newItem" (click)="actualizaItem(item)">{{item.desc}}</ion-label>
      <ion-icon slot="end" name="trash" (click)="borrarItem(item)"></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
