<app-header [titulo]="'Pendientes'"></app-header>

<ion-content>

  <ion-img src="../../assets/imgs/pendientes.jpg"></ion-img>

  <ion-list *ngIf="deseosService.listas.length > 0">
    <ion-item *ngFor="let lista of deseosService.listas | filtroCompletado: false; let i = index;"
      (click)="listaSeleccionada(lista, i)">
      <ion-label>{{lista.titulo}}
      </ion-label>
      <ion-note slot="end" color="tertiary">{{lista.items.length}}</ion-note>
      <ion-icon slot="end" name="trash" (click)="borrarLista(lista)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
