<app-header [titulo]="'Pendientes'"></app-header>

<ion-content>

  <ion-img src="../../assets/imgs/pendientes.jpg"></ion-img>

  <ion-list *ngIf="deseosService.listas !== undefined ">
    <ion-item *ngFor="let lista of deseosService.listas; let i = index;" [hidden]="lista.terminada">
      <ion-icon slot="start" name="create" (click)="editarLista(lista)"></ion-icon>
      <ion-label (click)="listaSeleccionada(lista, i)">{{lista.titulo}}
      </ion-label>
      <ion-note slot="end" color="tertiary">{{lista.items.length}}</ion-note>
      <ion-icon slot="end" name="trash" (click)="borrarLista(lista)"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarLista()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
